// _layout.scss
// Desktop first design

body {

}

main {
  min-height: calc(100vh - 242px);
}

.page-wrapper {
  // Compensates for hero height
  margin: 102px auto 0; 
  max-width: 1200px;
}

.content-wrapper {
  display: flex;
  flex-direction: row;
}

section {
  flex: 2;
  padding: 0 20px;
  
  // remove
  background: $light-green;
}

aside {
  flex: 1;
  padding: 0 20px;

  // remove
  background: $light-red;
}

footer {
  height: 140px;
  padding: 20px 20px 30px 20px;
  text-align: center;
  
  // remove
  background: $light-yellow;
}

/* Tablet */
@media (min-width: 601px) and (max-width: 1199px) {
  main {
    
  }

  .page-wrapper {

  }
}

/* Mobile */
@media (max-width: 600px) {
  
  main {
    margin-bottom: 60px;
    min-height: calc(100vh - 300px);
    padding-top: 0;
  }

  .page-wrapper {
    // Compensates for change in header hero height
    margin: 64px auto 0; 
  }

  .content-wrapper {
    display: flex;
    flex-direction: column;
  }

  footer {
    height: 180px;
  }
}
