// _layout.scss
// Desktop first design

body {

}

main {
  min-height: calc(100vh - 242px);
}

.page-wrapper {
  // Compensates for hero height
  background: #ffffff;
  margin: 102px auto 0; 
  max-width: 1200px;
}

.content-wrapper {
  display: flex;
  flex-direction: row;
}

section {
  flex: 3;
  padding: 0 20px;
}

aside {
  flex: 1;
  padding: 0 20px;
}

footer {
  margin: 0;
  padding: 20px;
  text-align: center;

  ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    padding: 20px;
  }

  li a {
    text-decoration: none;
  }

  li a:hover {
    text-decoration: underline;
  }
}

.video-link {
  display: inline-block;
  margin: 5% 10% 1%;
  opacity: .85;
  position: relative;
  position: relative;
}

.play {
  background: url(/images/play-button.png) center center no-repeat;
  height: 70px;
  left: 50%;
  margin: -35px 0 0 -35px;
  pointer-events: none;
  position: absolute;
  top: 50%;
  width: 70px;
  z-index: 1;
}



/* Tablet */
@media (min-width: 601px) and (max-width: 1199px) {
  body {
    background-image: none;
    background-color: #ffffff;
  }

  section {
    flex: 2;
  }
}

/* Mobile */
@media (max-width: 600px) {
  body {
    background-image: none;
    background-color: #ffffff;
  }

  main {
    margin-bottom: 60px;
    min-height: calc(100vh - 300px);
    padding-top: 0;
  }

  .page-wrapper {
    // Compensates for change in header hero height
    margin: 64px auto 0; 
  }

  .content-wrapper {
    display: flex;
    flex-direction: column;
  }

  footer {
    margin-bottom: 40px;
  }
}
